/* Quote card styles */
.quote-card {
  padding: 20px;
  background: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 20px;
}

.quote-card-header {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  position: relative;
}

.quote-card-icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.quote-card-icon-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote-card-icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote-card-text {
  flex-grow: 1;
}

.quote-card-title {
  font-size: 12px;
  font-weight: 400;
  color: rgba(28, 28, 28, 0.4);
  margin-bottom: 8px;
}

.quote-card-quote {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(28, 28, 28, 0.6);
}

.quote-card-commas {
  position: absolute;
  top: 0;
  right: 0;
}

.quote-card-author {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .quote-card {
    padding: 24px;
  }
  
  .quote-card-title {
    font-size: 14px;
  }
  
  .quote-card-quote {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .quote-card {
    padding: 32px;
  }
}
